[Unit]
Description=Grove Nursery React Server

[Service]
ExecStart=/usr/bin/node /var/www/grovenursery/start-website.sh
Restart=always
User=newblank
Group=newblank
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/grovenursery

[Install]
WantedBy=multi-user.target